## Introduction

For this final project our group decided to look at three submerics including crime rates, green space, and home values. For my part of the project I will be analyzing home values across various neighborhoods in pittsburgh. The reason I chose this metric is because the cost of living within an area is one of the first things people have in mind when picking an ideal area to live. The cost of one's living space is vital information when making the big decision of where to settle down. Looking at the median home values within the neighborhoods can be a good indicator to someone on where to live. A high home value can raise concern over affordability but a low value can raise concern over quality of living space. The goal of my part of the project is to find a neighborhood where the home value is not too expensive but also not too low to signify poor living conditions.

**Link to data:** https://data.wprdc.org/dataset/40188e1c-6d2e-4f20-9391-607bd3054949/resource/9890875b-c1d1-4e64-8fc9-a4a8dc433745/download/housing.csv

In [21]:
import pandas as pd
import matplotlib.pyplot as plt

excluded_value = ['N/A']
snap_data = pd.read_csv("pitt_snap_data.csv")
filtered_data = snap_data.iloc[:, [1, 22]]
filtered_data.dropna(subset = ['Median Home Value (2010)'])
filtered_data.head(25)

                 Neighborhood Median Home Value (2010)
0            Allegheny Center                $136,300
1              Allegheny West                $123,600
2                   Allentown                 $42,200
3                   Arlington                 $44,200
4           Arlington Heights                 $64,400
5                  Banksville                $110,900
6           Bedford Dwellings                 $81,100
7                   Beechview                 $72,400
8                 Beltzhoover                 $36,000
9                  Bloomfield                 $92,840
10                      Bluff                 $21,200
11                    Bon Air                 $69,500
12           Brighton Heights                 $81,433
13                  Brookline                 $82,150
14       California-Kirkbride                $113,200
15                    Carrick                 $66,900
16  Central Business District                $125,800
17      Central Lawrenceville                 $66,850
18          Central Northside                $124,300
19            Central Oakland                $144,350
20             Chartiers City                 $76,700
21                    Chateau                      NaN
22            Crafton Heights                 $76,650
23           Crawford-Roberts                 $94,600
24           Duquesne Heights                $100,500